{%- spaceless -%}
	<header class="navbar navbar-fixed-top">
		<nav class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="{{- path('ccdn_homepage') -}}">Code Consortium</a>
			
			    <ul class="nav">
					{%- set route = app.request.attributes.get('_route') -%}
					
					<li{{ route|slice(0,24) == 'ccdn_component_dashboard' ? ' class="active"': ''}}><a href="{{ path('ccdn_component_dashboard_index') }}">Dashboard</a></li>
					<li{{ route|slice(0,9) == 'ccdn_user' ? ' class="active"': ''}}><a href="{{ path('ccdn_user_member_index') }}">Members</a></li>
					<li{{ route|slice(0,10) == 'ccdn_forum' ? ' class="active"': ''}}><a href="{{ path('ccdn_forum_forum_category_index') }}">Forum</a></li>
			    </ul>
			
			    <ul class="nav pull-right">
					{%- if is_granted('ROLE_USER') -%}
					
						{%- set message_count = unreadMessageCount() -%}							
						<li class="{%- if message_count > 0 -%}message-count-unread{%- else -%}message-count{%- endif -%}">
							<a rel="nofollow" href="{{- path('ccdn_message_message_index') -}}" data-tip="bottom" title="{{- 'ccdn_message_message.message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') -}}">
								{{- message_count -}}
							</a>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>
								<bdi>{{- app.user.username |capitalize -}}</bdi>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a rel="nofollow" href="{{- path('ccdn_user_user_account_show') -}}">
										<i class="icon-cog"></i>
										{{- 'ccdn_component_common.layout.header.account' | trans({}, 'CCDNComponentCommonBundle') -}}
									</a>
								</li>
								<li>
									<a rel="nofollow" href="{{- path('ccdn_user_profile_show') -}}">
										<i class="icon-user"></i>
										{{- 'ccdn_component_common.layout.header.profile' | trans({}, 'CCDNComponentCommonBundle') -}}
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a rel="nofollow" href="{{- path('fos_user_security_logout') -}}">
										<i class="icon-lock"></i>
										{{- 'ccdn_component_common.layout.header.logout' |trans({}, 'CCDNComponentCommonBundle') -}}
									</a>
								</li>
							</ul>
						</li>				
					{%- else -%}
						<li>
							<a rel="nofollow" href="{{- path('fos_user_registration_register') -}}" data-tip="bottom" title="Register">
								<i class="icon-pencil"></i>
								{{- 'ccdn_component_common.layout.header.register' |trans({}, 'CCDNComponentCommonBundle') -}}
							</a>
						</li>
						<li>
							<a rel="nofollow" href="{{- path('fos_user_security_login') -}}" data-tip="bottom" title="Sign in">
								<i class="icon-user"></i>
								{{- 'ccdn_component_common.layout.header.login' |trans({}, 'CCDNComponentCommonBundle') -}}
							</a>
						</li>
					{%- endif -%}
			    </ul>
			</div>
		</nav>
	</header>
{%- endspaceless -%}