{% extends 'CCDNComponentCommonBundle:Layout:layout_body_left.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="{{ key }}">
    {{ message| trans }}
</div>
{% endfor %}

		<h2>{{ status_code }} {{ status_text }}</h2>

        <h1>404, y u no look in right place?  ლ(ಠ益ಠ)ლ</h1>
        <br>
		<pre>Sorry the page you are looking for does not exist.</pre>
		<br><br>
		<pre>Sad face :(</pre>
		<br>
		
{% endblock %}