{% extends 'CCDNComponentCommonBundle:Layout:layout_body_left.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}

{% for key, message in app.session.getFlashes() %}
<div class="{{ key }}">
    {{ message| trans }}
</div>
{% endfor %}

	<h2>{{ status_code }} {{ status_text }}</h2>

	<h1>Oops! An Error Occurred  ლ(ಠ益ಠ)ლ</h1>
	<br>
	<pre>{{ exception.message|e|replace({"\n": '<br>'})|format_file_from_text }}</pre>
	<br><br>
	<pre>The server returned a "{{ status_code }} {{ status_text }}".</pre>
	<br>

{% endblock %}