{%- spaceless -%}

	{%- set scale_x = (scale_x is defined) ? scale_x : 100 -%}
	{%- set scale_y = (scale_y is defined) ? scale_y : 100 -%}
	{%- set rounded = (rounded is defined) ? 'border-radius:' ~ rounded ~ 'px;' : '' -%}
	{%- set border =  (border is defined) ? 'border:' ~ border ~ 'px solid #ddd;': '' -%}
	{%- set padding = (padding is defined) ? 'padding:' ~ padding ~ 'px;': '' -%}
	
	{%- if user -%}
		{%- if user.getProfile -%}
			{%- if user.getProfile.getAvatar -%}
				{%- if user.getProfile.getAvatarIsRemote -%}
					{%- set avatar = user.getProfile.getAvatar -%}
				{%- else -%}
					{%- set avatar = asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -%}
				{%- endif -%}
			{%- else -%}
				{%- set avatar = asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -%}
			{%- endif -%}
		{%- else -%}
			{%- set avatar = asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -%}
		{%- endif -%}
	{%- else -%}
		{%- set avatar = asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -%}
	{%- endif -%}

	<img style="{{- rounded -}}{{- border -}}{{- padding -}}" class="avatar" width="{{- scale_x -}}" height="{{- scale_y -}}" src="{{- avatar -}}" alt="avatar">
	{#<div style="-webkit-transform: rotate(-45deg);background-color:#a090ff;position:relative;top:-{{- scale_y -}}px;right:{{- scale_x / 2 -}}px">Admin</div>#}
	
{%- endspaceless -%}
