{% extends ccdn_forum_admin.topic.show_deleted.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.tools.repair' | trans({}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_admin.title.tools.repair' | trans({}, 'CCDNForumAdminBundle') -}}</h2>

	<table class="table">
		<tbody>

			<tr>
				<td class="right">
					<span class="label {{ board_integrity['orphanedBoardCount'] ? 'label-important': 'label-success' -}}">{{- board_integrity['orphanedBoardCount'] }} orphaned boards</span><br>
					<span class="label {{ board_integrity['unlinkedLastPostCount'] ? 'label-important': 'label-success' -}}">{{- board_integrity['unlinkedLastPostCount'] }} unlinked last posts</span><br>
					<span class="label {{ board_integrity['unsetTopicCount'] ? 'label-important': 'label-success' -}}">{{- board_integrity['unsetTopicCount'] }} topic counts unset</span><br>
					<span class="label {{ board_integrity['unsetPostCount'] ? 'label-important': 'label-success' -}}">{{- board_integrity['unsetPostCount'] }} post counts unset</span><br>
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.board_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

			<tr>
				<td class="right">
					<span class="label {{ topic_integrity['orphanedTopicCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['orphanedTopicCount'] }} orphaned topics</span><br>
					<span class="label {{ topic_integrity['unlinkedFirstPostCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['unlinkedFirstPostCount'] }} first posts unset</span><br>
					<span class="label {{ topic_integrity['unlinkedLastPostCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['unlinkedLastPostCount'] }} last posts unset</span><br>
					<span class="label {{ topic_integrity['partialClosureCount'] ? 'label-important': 'label-success' -}}">{{ topic_integrity['partialClosureCount'] }} partial closures</span><br>
					<span class="label {{ topic_integrity['partialDeletionCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['partialDeletionCount'] }} partial deletions</span><br>
			{#		<span class="label label-important">0 partial stickies</span><br>#}
					<span class="label {{ topic_integrity['unsetReplyCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['unsetReplyCount'] }} view counts unset</span><br>
					<span class="label {{ topic_integrity['unsetViewCount'] ? 'label-important': 'label-success' -}}">{{- topic_integrity['unsetViewCount'] }} reply counts unset</span><br>
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.topic_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

			<tr>
				<td class="right">
					<span class="label {{ post_integrity['orphanedPostCount'] ? 'label-important': 'label-success' -}}">{{- post_integrity['orphanedPostCount'] }} orphaned posts</span><br>
					<span class="label {{ post_integrity['partialLockCount'] ? 'label-important': 'label-success' -}}">{{- post_integrity['partialLockCount'] }} partial locks</span><br>
					<span class="label {{ post_integrity['partialDeletionCount'] ? 'label-important': 'label-success' -}}">{{- post_integrity['partialDeletionCount'] }} partial deletions</span><br>
			{#		<span class="label {{ post_integrity['lostAttachmentCount'] ? 'label-important': 'label-success' -}}">{{- post_integrity['lostAttachmentCount'] }} lost attachments</span><br> #}
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.post_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

			<tr>
				<td class="right">
					<span class="label {{ draft_integrity['orphanedDraftCount'] ? 'label-important': 'label-success' -}}">{{- draft_integrity['orphanedDraftCount'] }} orphaned drafts</span><br>
			{#		<span class="label label-success">0 lost attachments</span><br> #}
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.draft_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

			<tr>
				<td class="right">
					<span class="label {{ subscribed_integrity['orphanedSubscriptionCount'] ? 'label-important': 'label-success' -}}">{{- subscribed_integrity['orphanedSubscriptionCount'] }} orphaned subscriptions</span><br>
					<span class="label {{ subscribed_integrity['nullSubscribedCount'] ? 'label-important': 'label-success' -}}">{{- subscribed_integrity['nullSubscribedCount'] }} null subscriptions</span><br>
					<span class="label {{ subscribed_integrity['nullReadCount'] ? 'label-important': 'label-success' -}}">{{- subscribed_integrity['nullReadCount'] }} null read</span><br>
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.subscription_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

			<tr>
				<td class="right">
					<span class="label {{ registry_integrity['orphanedRegistryCount'] ? 'label-important': 'label-success' -}}">{{- registry_integrity['orphanedRegistryCount'] }} orphaned registries</span><br>
					<span class="label {{ registry_integrity['unsetCachedPostCount'] ? 'label-important': 'label-success' -}}">{{- registry_integrity['unsetCachedPostCount'] }} post counts unset</span><br>
					<span class="label {{ registry_integrity['unsetCachedKarmaPositiveCount'] ? 'label-important': 'label-success' -}}">{{- registry_integrity['unsetCachedKarmaPositiveCount'] }} karma positive null</span><br>
					<span class="label {{ registry_integrity['unsetCachedKarmaNegativeCount'] ? 'label-important': 'label-success' -}}">{{- registry_integrity['unsetCachedKarmaNegativeCount'] }} karma positive null</span><br>
				</td>
				<td class="left">
{#					<a href="" class="btn btn-primary"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_forum_admin.link.repair.registry_table' |trans({}, 'CCDNForumAdminBundle') -}}</a>#}
				</td>
			</tr>

		</tbody>
	</table>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
