{% extends ccdn_forum_admin.board.edit.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_admin.title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle') -}}</h2>

	{%- form_theme form ccdn_forum_admin.board.edit.form_theme -%}
	<form action="{{- path('ccdn_forum_admin_board_edit', {'boardId': board.id}) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.category.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.category, null, { 'label': 'ccdn_forum_admin.form.label.board.category'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.category) -}}
					{{- form_widget(form.category) -}}
				</div>
			</div>

			<div class="control-group{{- (form.name.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.name, null, { 'label': 'ccdn_forum_admin.form.label.board.name'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
				{{- form_errors(form.name) -}}
				{{- form_widget(form.name) -}}
				</div>
			</div>

			<div class="control-group{{- (form.description.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.description, null, { 'label': 'ccdn_forum_admin.form.label.board.description'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.description) -}}
					{%- if ccdn_forum_admin.board.edit.enable_bb_editor -%}
						{%- form_theme form 'CCDNComponentBBCodeBundle:Form:fields.html.twig' -%}
					{%- endif -%}
					{{- form_widget(form.description) -}}
				</div>
			</div>

            {%- form_theme form ccdn_forum_admin.board.create.form_theme -%}
            <div class="control-group{{- (form.readAuthorisedRoles.vars.errors|length > 0) ? ' error': '' -}}">
                {{ form_label(form.readAuthorisedRoles) }}
                <div class="controls row-fluid">
                    {{ form_errors(form.readAuthorisedRoles) }}
                    {{ form_widget(form.readAuthorisedRoles) }}
                </div>
            </div>

            <div class="control-group{{- (form.topicCreateAuthorisedRoles.vars.errors|length > 0) ? ' error': '' -}}">
                {{ form_label(form.topicCreateAuthorisedRoles) }}
                <div class="controls row-fluid">
                    {{ form_errors(form.topicCreateAuthorisedRoles) }}
                    {{ form_widget(form.topicCreateAuthorisedRoles) }}
                </div>
            </div>

            <div class="control-group{{- (form.topicReplyAuthorisedRoles.vars.errors|length > 0) ? ' error': '' -}}">
                {{ form_label(form.topicReplyAuthorisedRoles) }}
                <div class="controls row-fluid">
                    {{ form_errors(form.topicReplyAuthorisedRoles) }}
                    {{ form_widget(form.topicReplyAuthorisedRoles) }}
                </div>
            </div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{{- 'ccdn_forum_admin.form.button.board.edit'| trans({}, 'CCDNForumAdminBundle') -}}">
				<a class="btn" href="{{- path('ccdn_forum_admin_category_index') -}}">{{- 'ccdn_forum_admin.form.button.cancel' |trans({}, 'CCDNForumAdminBundle') -}}</a>
			</div>

		</fieldset>
	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
