<!DOCTYPE html>
<html lang="{{- app.request.locale -}}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%- block title -%}{%- endblock -%}</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		{%- block stylesheets -%}
		{%- endblock -%}
    </head>
    <body>

		{%- spaceless -%}

		<div id="page-wrap">
			<div id="page-main">

				{%- block navbar -%}
					{%- set route = app.request.attributes.get('_route') -%}
					<header class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
						<a target="_blank" class="navbar-brand" href="http://www.codeconsortium.com/">Code Consortium</a>

						<ul class="nav navbar-nav">
							<li {%- if route|slice(0, 24) == 'ccdn_component_dashboard' %} class="active"{%- endif -%}>
								<a href="{{- path('ccdn_component_dashboard_index') -}}">
									Dashboard
								</a>
							</li>
							<li {%- if route|slice(0, 10) == 'ccdn_forum' %} class="active"{%- endif -%}>
								<a href="{{- path('ccdn_forum_user_category_index') -}}">
									Forum
								</a>
							</li>
							<li {%- if route|slice(0, 9) == 'ccdn_user' or route|slice(0, 8) == 'fos_user' %} class="active"{%- endif -%}>
								<a href="{{ path('ccdn_user_profile_member_index') -}}">
									Members
								</a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							{%- if is_granted('ROLE_USER') -%}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="glyphicon glyphicon-user"></i>
										{%- if app.user -%}
											{{- app.user.email -}}
										{%- endif -%}
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="{{- path('ccdn_user_user_account_show') -}}">
												Account
											</a>
										</li>
										<li>
											<a href="{{- path('ccdn_user_profile_show') -}}">
												Profile
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="{{- path('fos_user_security_logout') -}}">
												Logout
											</a>
										</li>
									</ul>
								</li>
							{%- else -%}
								<li>
									<a href="{{- path('fos_user_security_login') -}}">
										Login
									</a>
								</li>
							{%- endif -%}
						</ul>

						{%- if is_granted('ROLE_USER') -%}
							{%- set message_registry = get_user_message_registry() -%}
							{%- set message_count = message_registry.getCachedUnreadMessageCount() -%}
								<a href="{{- path('ccdn_message_message_user_index') -}}"
								 class="btn btn-{%- if message_count > 0 -%}danger{%- else -%}default{%- endif %} navbar-btn navbar-right">
									{{- message_registry.getCachedUnreadMessageCount() -}}
								</a>
						{%- endif -%}
					</header>

					{%- block tool_bar -%}
					{%- endblock tool_bar -%}
				{%- endblock navbar -%}

				<div class="container clearfix">
					<br>
					<div class="row">
				        <aside class="col-md-2 page-sidebar-left">
							{%- block sidebar -%}
				            {%- endblock sidebar -%}
						</aside>

				        <div class="col-md-10 page-body-right">
							<div id="top clearfix"></div>
				            {%- block body -%}
							{%- endblock body -%}
				        </div>
			        </div>
				</div>
			</div>
		</div>

		<br>

		<footer class="footer site-footer">

			<div class="navbar navbar-default clearfix">
				<p class="navbar-text pull-right content-right">
					Copyright <a target="_blank" class="navbar-link" href="http://www.codeconsortium.com/">Code Consortium</a> 2011 - {{ 'now'|date("Y") }}.
				</p>
			</div>

			<nav class="navbar navbar-inverse clearfix" style="bottom:0px;margin-bottom:0px;">
				<div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav">
						<li>
							<a rel="friend" href="http://www.codeconsortium.com">
								Code Consortium
							</a>
						</li>

						<li>
							<a rel="friend" target="_blank" href="http://github.com/codeconsortium">
								Contribute
							</a>
						</li>
						
						<li>
							<a href="{{- path('ccdn_user_user_legal_copyright_notice') -}}">
								Copyright Notice
							</a>
						</li>
						
						<li>
							<a href="{{- path('ccdn_user_user_legal_disclaimer') -}}">
								Disclaimer
							</a>
						</li>
						
						<li>
							<a href="{{- path('ccdn_user_user_legal_privacy_policy') -}}">
								Privacy
							</a>
						</li>
						
						<li>
							<a href="{{- path('ccdn_user_user_legal_terms_conditions') -}}">
								Terms & Conditions
							</a>
						</li>
				    </ul>
				</div>
			</nav>

		</footer>

		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		{%- block javascripts -%}
		{%- endblock -%}

		<script type='text/javascript'>
		<!--
			$(document).ready(function() {
				// make visible js compat toolbars site wide
				$("[data-js-non-compat]").each(function(i, el) {
					$(el).addClass('collapse').addClass('hidden');
				});

				$("[data-js-compat]").each(function(i, el) {
					$(el).removeClass('collapse').removeClass('hidden');
				});

				$('[data-tip]').each(function() {
					$(this).tooltip({
						html: true,
						placement: $(this).data('tip')
					});
				});

				$('[data-toggle="dropdown"]').dropdown();
			});
		//-->
		</script>

		{%- endspaceless -%}
    </body>
</html>
