{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}
	{%- set path  = app.request.attributes.get('_path') -%}

	<li class="nav-header">{{- 'ccdn_user_admin.sidebar.header.user_admin'|trans({}, 'CCDNUserAdminBundle') -}}</li>

	{%- if route == 'ccdn_user_admin_show_newest' -%}
		<li class="active">
			<a href="{{- path('ccdn_user_admin_show_newest') -}}">
				<i class="icon-white icon-time"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_new'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_user_admin_show_newest') -}}">
				<i class="icon-time"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_new'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- endif -%}


	{%- if route == 'ccdn_user_admin_show_unactivated' -%}
		<li class="active">
			<a href="{{- path('ccdn_user_admin_show_unactivated') -}}">
				<i class="icon-white icon-road"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_unactivated'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_user_admin_show_unactivated') -}}">
				<i class="icon-road"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_unactivated'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- endif -%}


	{%- if route == 'ccdn_user_admin_show_banned' -%}
		<li class="active">
			<a href="{{- path('ccdn_user_admin_show_banned') -}}">
				<i class="icon-white icon-lock"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_banned'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_user_admin_show_banned') -}}">
				<i class="icon-lock"></i>
				&nbsp;{{- 'ccdn_user_admin.ccdn_user_admin.sidebar.link.user.show_banned'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</li>
	{%- endif -%}

{%- endspaceless -%}
