{% extends ccdn_forum_admin.category.create.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.category.create'| trans({}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h3>{{- 'ccdn_forum_admin.title.category.create'| trans({}, 'CCDNForumAdminBundle') -}}</h3>

	{%- form_theme form ccdn_forum_admin.category.create.form_theme -%}
	<form action="{{- path('ccdn_forum_admin_category_create') -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.name.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.name, null, { 'label': 'ccdn_forum_admin.form.label.category.name' | trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.name) -}}
					{{- form_widget(form.name) -}}
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{{- 'ccdn_forum_admin.form.button.category.create' | trans({}, 'CCDNForumAdminBundle') -}}">
				<a class="btn" href="{{- path('ccdn_forum_admin_category_index') -}}">{{- 'ccdn_forum_admin.form.button.cancel' |trans({}, 'CCDNForumAdminBundle') -}}</a>
			</div>

		</fieldset>
	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content%}
