{% extends ccdn_forum_admin.category.delete.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.category.delete'| trans({'%category_name%': category.name}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h3>{{- 'ccdn_forum_admin.title.category.delete'| trans({'%category_name%': category.name}, 'CCDNForumAdminBundle') -}}</h3>

	<div class="form-confirmation">

		<div class="form-question">
			<span class="lead">{{- 'ccdn_forum_admin.category.delete.confirmation_question'  | trans({'%category_name%' : category.name }, 'CCDNForumAdminBundle') -}}</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_category_delete_confirmed', {'categoryId': category.id }) -}}">{{- 'ccdn_forum_admin.delete.confirm_yes' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
			<a class="btn" href="{{- path('ccdn_forum_admin_category_index') -}}">{{- 'ccdn_forum_admin.delete.confirm_no' | trans({}, 'CCDNForumAdminBundle') -}}</a>
		</div>

	</div>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content%}
