{% extends ccdn_forum_admin.topic.change_board.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h3>{{- 'ccdn_forum_admin.title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'CCDNForumAdminBundle') -}}</h3>

	{%- form_theme form ccdn_forum_admin.topic.change_board.form_theme -%}
	<form action="{{- path('ccdn_forum_admin_topic_change_board', { 'topicId': topic.getId} ) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.board.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.board, null, { 'label': 'ccdn_forum_admin.form.label.board'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.board) -}}
					{{- form_widget(form.board) -}}
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-danger" value="{{- 'ccdn_forum_admin.form.button.topic.move_to_board' | trans({}, 'CCDNForumAdminBundle') -}}">
				<a class="btn" href="{{- path('ccdn_forum_forum_topic_show', {'topicId': topic.id}) -}}">{{- 'ccdn_forum_admin.form.button.cancel' |trans({}, 'CCDNForumAdminBundle') -}}</a>
			</div>

		</fieldset>
	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
