{% extends ccdn_forum_admin.topic.show_closed.layout_template %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{- asset('bundles/ccdnforumforum/css/generic.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{- asset('bundles/ccdncomponentcommon/js/ccdn/jquery.checkboxes.js') -}}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.topic.show_closed' | trans({}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_admin.title.topic.show_closed' | trans({}, 'CCDNForumAdminBundle') -}}</h2>

	<form method="POST" action="{{- path('ccdn_forum_admin_topic_bulk_action_closed') -}}">

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		<div class="pull-left">
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.topic.close' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_close" disabled data-responds-disabled="topics" >
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.topic.reopen' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_reopen" disabled data-responds-disabled="topics" >
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.topic.restore' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_restore" disabled data-responds-disabled="topics" >
			<input type="submit" class="btn btn-danger disabled" value="{{- 'ccdn_forum_admin.link.topic.delete_soft' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_soft_delete" disabled data-responds-disabled="topics" >
		</div>
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
		    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_admin_topic_show_all_closed_paginated', 'routeParams':{}}) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="center" style="width:18px;"><input type="checkbox" id="check_all" name="check_all" class="hidden" data-compat='interactive-js-compat' data-action-toggle="topics" data-identifier="topics" data-qualifier="all"></th>
				<th class="center" style="width:18px;"><i class="icon-lock"></i></th>
				<th class="center" style="width:18px;"><i class="icon-trash"></i></th>
				<th class="left">{{- 'ccdn_forum_admin.board.table.head.topic_title' | trans({}, 'CCDNForumAdminBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_admin.board.table.head.created_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_admin.board.table.head.closed_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_admin.board.table.head.deleted_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
			{%- for row, topic in topics -%}
				<tr class="{{- cycle(['row_odd', 'row_even'], row) -}}">

					<td class="center">
						<input type="checkbox" id="topic_{{- topic.id -}}" name="check_{{- topic.id -}}" data-check-all-responds="true" data-identifier="topics">
					</td>

					<td class="center">
						{%- if topic.isClosed -%}
						<i class="icon-lock">
						{%- endif -%}
					</td>

					<td class="center">
						{%- if topic.isDeleted -%}
						<i class="icon-trash">
						{%- endif -%}
					</td>

					<td class="left">
						<span class="label label-info">{{- topic.getCachedReplyCount -}}&nbsp;{{- 'ccdn_forum_admin.board.table.head.reply_count' | trans({}, 'CCDNForumAdminBundle') -}}</span>&nbsp;
						<span class="label label-info">{{- topic.getCachedViewCount -}}&nbsp;{{- 'ccdn_forum_admin.board.table.head.view_count' | trans({}, 'CCDNForumAdminBundle') -}}</span>&nbsp;
						<a class="topic_link" href="{{- path('ccdn_forum_forum_topic_show', {'topicId': topic.getId }) -}}" title="{{- topic.getTitle -}}">{{- truncDot(topic.getTitle |capitalize, ccdn_forum_admin.topic.show_closed.topic_title_truncate) -}}</a>
					</td>

					<td class="right">
						{%- if topic.getFirstPost -%}
                            {% set author = create_profile(topic.getFirstPost.getCreatedBy) %}
                            {{ author.getProfilePath|raw }}

							{%- if topic.getFirstPost.getCreatedDate -%}
								{{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
								{{- topic.getFirstPost.getCreatedDate |date(ccdn_forum_admin.topic.show_closed.post_created_datetime_format) -}}
							{%- endif -%}
						{%- endif -%}
					</td>

					<td class="right">
						{%- if topic.isClosed -%}
                            {% set topic_closer = create_profile(topic.getClosedBy) %}

                            {{ topic_closer.getProfilePath|raw }}
						{%- endif -%}

						{%- if topic.getClosedDate -%}
							{{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
							{{- topic.getClosedDate |date(ccdn_forum_admin.topic.show_closed.topic_closed_datetime_format) -}}
						{%- endif -%}
					</td>

					<td class="right">
						{%- if topic.isDeleted -%}
                            {% set topic_deleter = create_profile(topic.getDeletedBy) %}

                            {{ topic_deleter.getProfilePath|raw }}
						{%- endif -%}

						{%- if topic.getDeletedDate -%}
							{{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
							{{- topic.getDeletedDate |date(ccdn_forum_admin.topic.show_closed.topic_deleted_datetime_format) -}}
						{%- endif -%}
					</td>

				</tr>
			{%- else -%}
				<tr>
					<td class="center" colspan="11">
						{{- 'ccdn_forum_admin.topics.closed.table.empty' | trans({}, 'CCDNForumAdminBundle') -}}
					</td>
				</tr>
			{%- endfor -%}
		</tbody>
	</table>

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		<div class="pull-left">
		</div>
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
		    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_admin_topic_show_all_closed_paginated', 'routeParams':{}}) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock body_content %}
