{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">{{- 'ccdn_user_profile.sidebar.header.navigation' | trans({}, 'CCDNUserProfileBundle') -}}</li>
	
	<li>
		<a href="{{- path('ccdn_user_member_index') -}}">
			<i class="icon-th-list"></i>
			{{- 'ccdn_user_member.sidebar.link.members' |trans({}, 'CCDNUserMemberBundle') -}}
		</a>
	</li>
	
	{%- if is_granted("ROLE_USER") -%}	
		{%- if user is not defined -%}
			<li>
				<a href="{{- path('ccdn_user_user_account_show') -}}">
					<i class="icon-cog"></i>
					{{- 'ccdn_user_profile.sidebar.link.account.view' |trans({}, 'CCDNUserProfileBundle') -}}
				</a>
			</li>
			<li class="active">
				<a href="{{- path('ccdn_user_profile_show') -}}">
					<i class="icon-white icon-user"></i>
					{{- 'ccdn_user_profile.sidebar.link.profile.view' |trans({}, 'CCDNUserProfileBundle') -}}
				</a>
			</li>		
		{%- else -%}
			{%- if app.user.id == user.id -%}
				<li>
					<a href="{{- path('ccdn_user_user_account_show') -}}">
						<i class="icon-cog"></i>
						{{- 'ccdn_user_profile.sidebar.link.account.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>
				<li class="active">
					<a href="{{- path('ccdn_user_profile_show') -}}">
						<i class="icon-white icon-user"></i>
						{{- 'ccdn_user_profile.sidebar.link.profile.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>
			{%- else -%}
				<li>
					<a href="{{- path('ccdn_user_user_account_show') -}}">
						<i class="icon-cog"></i>
						{{- 'ccdn_user_profile.sidebar.link.account.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>
				<li>
					<a href="{{- path('ccdn_user_profile_show') -}}">
						<i class="icon-user"></i>
						{{- 'ccdn_user_profile.sidebar.link.profile.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>
			
				<li class="divider"></li>
				
				<li class="active">
					<a href="{{- path('ccdn_user_profile_show_by_id', {'profileId':profile.id}) -}}">
						<i class="icon-white icon-user"></i>
						{{- 'ccdn_user_profile.sidebar.link.profile.view_named' |trans({'%user_name%': profile.getUsername |title}, 'CCDNUserProfileBundle') |raw -}}
					</a>
				</li>
			{%- endif -%}
		{%- endif -%}
	{%- else -%}
		<li>
			<a rel="nofollow" href="{{- path('fos_user_security_login') -}}">
				<i class="icon-user"></i>
				{{- 'ccdn_user_user.sidebar.link.login' |trans({}, 'CCDNUserUserBundle') -}}
			</a>
		</li>
		<li>
			<a rel="nofollow" href="{{- path('fos_user_registration_register') -}}">
				<i class="icon-asterisk"></i>
				{{- 'ccdn_user_user.sidebar.link.register' |trans({}, 'CCDNUserUserBundle') -}}
			</a>
		</li>
		<li>
			<a rel="nofollow" href="{{- path('fos_user_resetting_request') -}}">
				<i class="icon-lock"></i>
				{{- 'ccdn_user_user.sidebar.link.reset' |trans({}, 'CCDNUserUserBundle') -}}
			</a>
		</li>
	{%- endif -%}
	
{%- endspaceless -%}
