{%- spaceless -%}
	<div class="navbar navbar-googlebar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="row-fluid nav">
					<div class="span2">
						<a class="brand" href="{{- ccdn_component_common.header.brand.route -}}">{{- ccdn_component_common.header.brand.label -}}</a>
					</div>
				
					<div class="span8">
						<form class="navbar-form pull-left content-left" style="width:inherit;">
							<div class="span9 pull-left content-right" style="margin-left:0px;padding-left:0px;">
							    <input type="text" class="input-xlarge" placeholder="Search" style="width:inherit;">
							</div>
							<div class="span3 pull-right content-left">
							    <button class="btn btn-primary" type="submit" style="margin-left:10px;">
									&nbsp;
							    	<i class="icon-white icon-search"></i>
									&nbsp;
							    </button>
							</div>
						</form>
					</div>
				
					<div class="span2">
						{%- if is_granted('ROLE_USER') -%}

							{%- set message_count = unreadMessageCount() -%}							
							<a rel="nofollow" href="{{- path('ccdn_message_message_index') -}}" data-tip="bottom" class="btn {%- if message_count > 0 %} btn-danger{%- endif -%}"
								title="{{- 'generic.message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') -}}">
								{{- message_count -}}
							</a>

							<div class="btn-group">
								<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
									<i class="icon-user"></i>
									<bdi>{{- app.user.username |capitalize -}}</bdi>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a rel="nofollow" href="{{- path('ccdn_user_user_account_show') -}}">
											<i class="icon-cog"></i>
											{{- 'layout.header.account' | trans({}, 'CCDNUserUserBundle') -}}
										</a>
									</li>
									<li>
										<a rel="nofollow" href="{{- path('ccdn_user_profile_show') -}}">
											<i class="icon-user"></i>
											{{- 'layout.header.profile' | trans({}, 'CCDNUserProfileBundle') -}}
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a rel="nofollow" href="{{- path('fos_user_security_logout') -}}">
											<i class="icon-lock"></i>
											{{- 'layout.header.logout' |trans({}, 'CCDNUserUserBundle') -}}
										</a>
									</li>
								</ul>
							</div>				
						{%- else -%}
							<a rel="nofollow" href="{{- path('fos_user_security_login') -}}" class="btn btn-danger" data-tip="bottom" title="Sign in">
								{{- 'layout.header.login' |trans({}, 'CCDNUserUserBundle') -}}
							</a>
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>		
	</div>
{%- endspaceless -%}