{% extends 'CCDNUserAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_admin.account.show_user.layout_template %}

{% block title %}{{- truncDot('title.account.show' |trans({'%name%': user.getUsername }, 'CCDNUserAdminBundle'), ccdn_user_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- set profile = create_profile(user) -%}

	<header>
		<h3>{{- 'title.account.show' |trans({'%name%': profile.getUsernameBDI}, 'CCDNUserAdminBundle') |raw -}}</h3>
	</header>

	<section>
		<div class="btn-toolbar">
			{% if user.enabled %}
				<a class="btn btn-danger" href="{{- path('ccdn_user_admin_force_reactivation', {'userId': user.getId }) -}}">
					{{- 'link.user.force_reactivation'|trans({}, 'CCDNUserAdminBundle') -}}
				</a>
			{% else %}
				<a class="btn btn-danger" href="{{- path('ccdn_user_admin_activate', {'userId': user.getId }) -}}">
					{{- 'link.user.activate'|trans({}, 'CCDNUserAdminBundle') -}}
				</a>
			{% endif %}
		
			{% if user.locked %}
				<a class="btn btn-danger" href="{{- path('ccdn_user_admin_unban', {'userId': user.getId }) -}}">
					{{- 'link.user.unban'|trans({}, 'CCDNUserAdminBundle') -}}
				</a>
			{% else %}
				<a class="btn btn-danger" href="{{- path('ccdn_user_admin_ban', {'userId': user.getId }) -}}">
					{{- 'link.user.ban'|trans({}, 'CCDNUserAdminBundle') -}}
				</a>
			{% endif %}
		
			<a class="btn btn-danger" href="{{- path('ccdn_user_admin_set_roles', {'userId': user.getId }) -}}">
				{{- 'link.user.set_roles'|trans({}, 'CCDNUserAdminBundle') -}}
			</a>
			<a class="btn btn-danger" href="{{- path('ccdn_user_admin_account_edit', {'userId': user.getId}) -}}">
				{{- 'link.account.edit' |trans({}, 'CCDNUserAdminBundle') -}}
			</a>
			
			<a class="btn" href="{{- path('ccdn_user_profile_show_by_id', {'profileId': profile.getId}) -}}">
				{{- 'link.profile.show' |trans({}, 'CCDNUserAdminBundle') -}}
			</a>
		</div>

		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<td class="right" style="width: 30%;">{{- 'account.show.username' |trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left" style="width: 70%;">{{- profile.getUsernameBDI |raw -}}</td>
				</tr>
				<tr>
					<td class="right">{{- 'account.show.email'|trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left">{{- user.email -}}</td>
				</tr>
				<tr>
					<td class="right">{{- 'account.show.registered_date'|trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left">{{- user.registeredDate |date(ccdn_user_admin.account.show_user.member_since_datetime_format) -}}</td>
				</tr>
				<tr>
					<td class="right">{{- 'profile.show.banned'|trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left">
						{%- if user.locked -%}
							Banned
						{%- else -%}
							No Bans
						{%- endif -%}
					</td>
				</tr>
				<tr>
					<td class="right">{{- 'profile.show.activated'|trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left">
						{%- if user.enabled -%}
							Activated
						{%- else -%}
							Not Activated
						{%- endif -%}
					</td>
				</tr>
				<tr>
					<td class="right">{{- 'account.show.role'|trans({}, 'CCDNUserAdminBundle') -}}</td>
					<td class="left">
						<ul>
						{%- for role in user.getRoles -%}
							<li>{{- role -}}</li>
						{%- endfor -%}
						</ul>
					</td>
				</tr>			
			</tbody>
		</table>
	</section>
	
	{%- endspaceless -%}

{% endblock body_content %}
